body {
    background-image: url(/Users/CA/Desktop/Basic-Portofolio/assets/images/dust_scratches/dust_scratches.png);
    background-repeat: repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #777;
    line-height: 28px;
}


header {
    background-color: #fff;
    margin-bottom: 40px;
    border-bottom: 2px solid #ccc;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}
content {
    float: left;
    width: 650px;
}


.module {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
}

#logo {
    float: left;
    display: block;
    background-color: #4aaaa5;
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 0 40px;
    line-height: 90px;
    font-weight: bold;
    text-decoration: none;
}
#social {
    width: 270px;
    float: right;
    text-align: center;
}

nav {
    float: right;
}
nav ul {
    display: block;
}
nav ul li {
    display: inline-block;
    line-height: 90px;
}

nav ul li a {
    text-decoration: none;
    color: #999;
    margin-left: 20px;
    line-height: 22px;
    padding-left: 20px;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#social img {
    height: 60px;
    width: auto;
}
#container {
    min-height: calc(100vh - 264px);
}

h2 {
    font-family: "Georgia";
    color: #4aaaa5;
    font-weight: bold;
    text-align: left;
    
}
container {
    min-height: calc(100vh - 264px);
}

footer {
    text-align: center;
    background-color: #777;
    color: #ccc;
    line-height: 90px;
    margin-top: 40px;
    border-top: 8px solid #4aaaa5;
    font-size: 12px;
}